.grayGradientBg {
  background: #eaeaea;
  /* Old browsers */
  background: -moz-linear-gradient(top, #ffffff 28%, #eaeaea 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(28%, #ffffff), color-stop(100%, #eaeaea));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ffffff 28%, #eaeaea 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ffffff 28%, #eaeaea 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ffffff 28%, #eaeaea 100%);
  /* IE10+ */
  background: linear-gradient(top, #ffffff 28%, #eaeaea 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@btnBaseWhite', endColorstr='@btnBaseGray', GradientType=0);
  /* IE8-9 */
}
.colorGradientBg {
  background: #8ac341;
  /* Old browsers */
  background: -moz-linear-gradient(top, #ef6925 0%, #e74c3c 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ef6925), color-stop(100%, #e74c3c));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ef6925 0%, #e74c3c 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ef6925 0%, #e74c3c 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ef6925 0%, #e74c3c 100%);
  /* IE10+ */
  background: linear-gradient(top, #ef6925 0%, #e74c3c 100%);
  /* W3C */
  -pie-background: linear-gradient(#ef6925, #e74c3c);
  /*PIE*/
  behavior: url(../Content/PIE/PIE.htc);
}
.btnStyle {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px 3px 3px 3px;
  display: block;
  font-size: 14pt;
  font-weight: bold;
  height: 41px;
  line-height: 42px;
  padding: 0 9px;
  outline: none;
  text-decoration: none;
}
.btnStyleAdditional {
  border-color: #ef6925;
  color: #FFF;
  border-style: solid;
  border-width: 1px;
}
.GenericButton {
  background: #8ac341;
  /* Old browsers */
  background: -moz-linear-gradient(top, #ef6925 0%, #e74c3c 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ef6925), color-stop(100%, #e74c3c));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ef6925 0%, #e74c3c 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ef6925 0%, #e74c3c 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ef6925 0%, #e74c3c 100%);
  /* IE10+ */
  background: linear-gradient(top, #ef6925 0%, #e74c3c 100%);
  /* W3C */
  -pie-background: linear-gradient(#ef6925, #e74c3c);
  /*PIE*/
  behavior: url(../Content/PIE/PIE.htc);
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px 3px 3px 3px;
  display: block;
  font-size: 14pt;
  font-weight: bold;
  height: 41px;
  line-height: 42px;
  padding: 0 9px;
  outline: none;
  text-decoration: none;
  border-color: #ef6925;
  color: #FFF;
  border-style: solid;
  border-width: 1px;
}
.GenericButton:hover {
  background: #eaeaea;
  /* Old browsers */
  background: -moz-linear-gradient(top, #ffffff 28%, #eaeaea 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(28%, #ffffff), color-stop(100%, #eaeaea));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ffffff 28%, #eaeaea 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ffffff 28%, #eaeaea 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ffffff 28%, #eaeaea 100%);
  /* IE10+ */
  background: linear-gradient(top, #ffffff 28%, #eaeaea 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@btnBaseWhite', endColorstr='@btnBaseGray', GradientType=0);
  /* IE8-9 */
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px 3px 3px 3px;
  display: block;
  font-size: 14pt;
  font-weight: bold;
  height: 41px;
  line-height: 42px;
  padding: 0 9px;
  outline: none;
  text-decoration: none;
  color: #ef6925;
  border: 1px solid #ef6925;
}
